[electrum]

xpub = ypubMbxjEry1NhowqXf1wjGXx3TayfTEbbL36nobSygibhXYY8aro7rL36nobSygibhXYY8aro7r1ZwDB7569RsQkW1dPjJWz1ZwDB7569RsQkW1dPjJWzMbxjEry1NhowqXf1wjGXx3TayfTEb


[charge]

url = http://192.168.0.199:9112
token = ei1o_your_token_4ieb8

[ipn]

url = http://192.168.0.101:2222

[telegram]

token = YOUR_TOKEN
admin_chatid = 123123

