[hetznet]

api_key = JTtV7d13fLuH_YOUR_OWN_KEY_cx7TJcEDbTVN

[paths]

local_path = /usr/home/dir/bitclouds

[wallet]

host = http://192.168.0.101:4444


[telegram]

token = YOUR_TOKEN
admin_chatid = 123123

